@import 'helper';

section {
  border: 1px solid $bg_secondary_color;
  max-width: 20rem;
  max-height: 50rem;

  .card-container {
        
    &__title {
      font-weight: bold;
      padding: 1rem 0.5rem;
    }

    &__amount {
      display: flex;
      font-weight: bold;
      justify-content: flex-end;
      padding: 0 0.5rem;
    }

    &__description {
      padding: 1rem 0.5rem;
    }

    &__actions__buttons {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0.5rem;

      button {
        border: none;
        background: none;
      }

      button:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}