@import 'helper';

nav {
  background-color: $bg_secondary_color;
  height: 2rem;
  padding: 1rem 1rem 0 1rem;

  ul {
    li {
      display: inline;


      a {
        color: $white_color;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem 1rem;
      }

      a:hover {
        background-color: #167a55;
      }
    }
  }
}