<nav>
  <ul>
    <li><a [routerLink]="['/home']">{{ 'header.releases' | transloco }}</a></li>
    <li><a [routerLink]="['/home']">{{ 'header.classics' | transloco }}</a></li>
    <li><a [routerLink]="['/home']">{{ 'header.contemporaries' | transloco }}</a></li>
    <li><a [routerLink]="['/home']">{{ 'header.brands' | transloco }}</a></li>
    <li><a [routerLink]="['/home']">{{ 'header.promotions' | transloco }}</a></li>
    <li><a [routerLink]="['/home']">{{ 'header.overstock' | transloco }}</a></li>
  </ul>
</nav>