@import 'helper';

section {
  padding: 7rem 0;
   
  .auth-form {
    background-color: $bg_secondary_color;
    border-radius: 30px;
    height: 30rem;
    padding: 2rem;
    width: 25rem;

    &__title {
      color: $white-color;
      font-size: 2rem;
      text-align: center;
    }

    &__container {
      padding-top: 2rem;
      width: 25rem;
    }
  }
}