@import "layout";

.container {
  background: linear-gradient(45deg, #20b2d6, #0a3d55);
  height: 100vh;
  width: 100%;

  .content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 1px #3f635b;
    height: 400px;
    width: 700px;

    .login-box {
      display: flex;
      font-family: "Rajdhani", sans-serif;
      flex-direction: row;
      padding: 5%;
      width: 100%;

      &__image {
        width: 45%;
      }
      &__form {
        &__actions {
          padding-top: 20px;

          a {
            color: #0a3d55;
            cursor: pointer;
            font-size: 13px;
            padding-left: 10px;
          }

          button {
            background-color: #0a3d55;
            border: none;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            height: 30px;
            width: 100px;

            &:disabled {
              background: #dddddd;
              cursor: default;
            }
          }          
        }
        

        h2 {
          color: #0a3d55;
        }

        height: 330px;   
        width: 45%;
      }
    }
    
  }
}