<form [formGroup]="this.contactForm" (ngSubmit)="this.onSubmit()">
  <div class="form-container__input">
    <input type="email" id="email" placeholder="{{ 'footer.your_email_at_email_dot_com' | transloco }}" formControlName="email" />
    <div
      class="form-container__input__error__message"
      *ngIf="
        this.contactForm.get('email')?.hasError('required') &&
        (this.contactForm.controls['email'].touched ||
          this.contactForm.controls['email'].dirty)
      "
    >
      <span>{{ "footer.required_field" | transloco }}</span>
    </div>
    <div
      class="form-container__input__error__message"
      *ngIf="
        this.contactForm.get('email')?.hasError('email') &&
        (this.contactForm.controls['email'].touched ||
          this.contactForm.controls['email'].dirty)
      "
    >
      <span>{{ "footer.invalid_email" | transloco }}</span>
    </div>
    <div class="form-container__input">
      <textarea rows="3" placeholder="{{ 'footer.content' | transloco }}" formControlName="content"></textarea>
      <div
      class="form-container__input__error__message"
      *ngIf="
        this.contactForm.get('content')?.hasError('required') &&
        (this.contactForm.controls['content'].touched ||
          this.contactForm.controls['content'].dirty)
      "
    >
      <span>{{ "footer.required_field" | transloco }}</span>
    </div>
    </div>
    <div class="form-container__actions">
      <button type="button" (click)="this.clearForm()">{{ "footer.clear" | transloco }}</button>
      <button type="submit" [disabled]="this.contactForm.invalid">
        {{ "footer.send" | transloco }}
      </button>
    </div>
  </div>
</form>
