<section>
  <app-card
    [id]="'kb578ldao478'"
    [imageUrl]="'https://m.media-amazon.com/images/I/61w0+Ez0x+L._AC_UL320_.jpg'"
    [title]="'Tênis Adidas'"
    [amount]="550.0"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maxime, unde corporis accusantium dignissimos '
    "
  ></app-card>
  <app-card
    [id]="'kb578ldao478'"
    [imageUrl]="'https://m.media-amazon.com/images/I/61w0+Ez0x+L._AC_UL320_.jpg'"
    [title]="'Tênis Adidas'"
    [amount]="550.0"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maxime, unde corporis accusantium dignissimos '
    "
  ></app-card>
  <app-card
    [id]="'kb578ldao478'"
    [imageUrl]="'https://m.media-amazon.com/images/I/61w0+Ez0x+L._AC_UL320_.jpg'"
    [title]="'Tênis Adidas'"
    [amount]="550.0"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maxime, unde corporis accusantium dignissimos '
    "
  ></app-card>
  <app-card
    [id]="'kb578ldao478'"
    [imageUrl]="'https://m.media-amazon.com/images/I/61w0+Ez0x+L._AC_UL320_.jpg'"
    [title]="'Tênis Adidas'"
    [amount]="550.0"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maxime, unde corporis accusantium dignissimos '
    "
  ></app-card>
  <app-card
    [id]="'kb578ldao478'"
    [imageUrl]="'https://m.media-amazon.com/images/I/61w0+Ez0x+L._AC_UL320_.jpg'"
    [title]="'Tênis Adidas'"
    [amount]="550.0"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maxime, unde corporis accusantium dignissimos '
    "
  ></app-card>
  <app-card
    [id]="'kb578ldao478'"
    [imageUrl]="'https://m.media-amazon.com/images/I/61w0+Ez0x+L._AC_UL320_.jpg'"
    [title]="'Tênis Adidas'"
    [amount]="550.0"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maxime, unde corporis accusantium dignissimos '
    "
  ></app-card>
  <app-card
    [id]="'kb578ldao478'"
    [imageUrl]="'https://m.media-amazon.com/images/I/61w0+Ez0x+L._AC_UL320_.jpg'"
    [title]="'Tênis Adidas'"
    [amount]="550.0"
    [description]="
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maxime, unde corporis accusantium dignissimos '
    "
  ></app-card>
</section>
