<section class="content-center">
  <div class="forgot-form">
  <h1 class="forgot-form__title">{{ 'forgot.forgot_your_password' | transloco }}?</h1>
  <p class="forgot-form__message">{{ 'forgot.message' | transloco }}</p>
  <form class="forgot-form__container" [formGroup]="this.forgotForm" (ngSubmit)="this.onSubmit()">
      <div class="form-container__input">
        <label for="user_email">{{ 'forgot.user_email' | transloco }}:</label>
        <input type="email" id="user_email" formControlName="user_email" />
        <div
          class="form-container__input__error__message"
          *ngIf="
            this.forgotForm.get('user_email')?.hasError('required') &&
            (this.forgotForm.controls['user_email'].touched ||
              this.forgotForm.controls['user_email'].dirty)
          "
        >
          <span>{{ 'forgot.required_field' | transloco }}</span>
        </div>
        <div
          class="form-container__input__error__message"
          *ngIf="
            this.forgotForm.get('user_email')?.hasError('email') &&
            (this.forgotForm.controls['user_email'].touched ||
              this.forgotForm.controls['user_email'].dirty)
          "
        >
          <span>{{ 'forgot.invalid_email' | transloco }}</span>
        </div>
      </div>
      <div class="form-container__actions">
        <a class="form-container__actions__link" routerLink="/auth">{{ 'forgot.go_back_login' | transloco }}</a>
        <button type="submit" [disabled]="this.forgotForm.invalid">
          {{ 'forgot.reset_password' | transloco }}
        </button>
      </div>
    </form>
  </div>
</section>