<section class="content-center">
  <div class="forgot-form">
  <h1 class="forgot-form__title">Recuperar Senha</h1>
  <p class="forgot-form__message">Informe seu e-mail de usuário para receber o link de redefinição de senha da sua conta.</p>
  <form class="forgot-form__container" [formGroup]="this.forgotForm" (ngSubmit)="this.onSubmit()">
      <div class="form-container__input">
        <label for="user_email">E-mail de Usuário:</label>
        <input type="email" id="user_email" formControlName="user_email" />
        <div
          class="form-container__input__error__message"
          *ngIf="
            this.forgotForm.get('user_email')?.hasError('required') &&
            (this.forgotForm.controls['user_email'].touched ||
              this.forgotForm.controls['user_email'].dirty)
          "
        >
          <span>Campo Obrigatório</span>
        </div>
        <div
          class="form-container__input__error__message"
          *ngIf="
            this.forgotForm.get('user_email')?.hasError('email') &&
            (this.forgotForm.controls['user_email'].touched ||
              this.forgotForm.controls['user_email'].dirty)
          "
        >
          <span>E-mail invalido</span>
        </div>
      </div>
      <div class="form-container__actions">
        <a class="form-container__actions__link" routerLink="/auth">Voltar ao login</a>
        <button type="submit" [disabled]="this.forgotForm.invalid">
          Enviar Link
        </button>
      </div>
    </form>
  </div>
</section>