@import 'helper';

section {
  padding: 7rem 0; 
   
  .forgot-form {
    background-color: $base-color;
    height: 30rem;
    padding: 2rem;
    width: 25rem;

    &__title {
      color: $white-color;
      font-size: 2rem;
      text-align: center;
    }

    &__message {
      color: $white-color;
      padding-top: 4rem;
      text-align: center;
    }

    &__container {
      padding-top: 2rem;
      width: 25rem;
    }
  }
}