.center-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control {
  display: flex;
  flex-direction: column;

  span {
    background-color: red;
    color: #fff;
    padding: 5px 8px;
    width: 100%;
  }

  label {
    color: #3eceb6;
    padding-bottom: 5px;
    padding-top: 15px;
    width: 100%;
  }

  input {
    background-color: #f3f3f3;
    border: none;
    border-bottom: 2px solid #3eceb6;
    border-radius: 5px;
    color: #454545;
    padding: 12px 10px;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
}

h2 {
  font-size: 20px;
  font-weight: bold;
}